/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat";
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FEECEF;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(63,120,208);
    background: linear-gradient(56deg, rgba(63,120,208,1) 23%, rgba(97,146,221,1) 100%);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(63,120,208);
    background: linear-gradient(56deg, rgba(63,120,208,1) 23%, rgba(97,146,221,1) 100%);
  }
  
  .click{
    cursor: pointer;
  }